.table-img {
    width: 100px; 
    height: auto;
    cursor: pointer; 
    display: block;
    margin: 0 auto; 
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 90%; 
    max-height: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}

.modal.show {
    display: flex; 
}

.synchronization-container {
    display: flex;
    flex-direction: column;
}

.synchronization-row {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.shop-info {
    margin-left: 8px;
}

.custom-checkbox {
    display: none; 
}

.checkbox-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    margin-top: 10px;
    user-select: none; 
}


.custom-checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f0f0f0; 
    border-radius: 4px; 
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}


input.custom-checkbox:checked + .checkbox-label .custom-checkbox-indicator {
    background-color: #4caf50; 
    border-color: #4caf50;
}

input.custom-checkbox:checked + .checkbox-label .custom-checkbox-indicator:after {
    content: '';
    position: absolute;
    display: block;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); 
}


input.custom-checkbox:disabled + .checkbox-label .custom-checkbox-indicator {
    background-color: #e0e0e0; 
    border-color: #aaa;
    cursor: not-allowed;
}

.custom-select {
    padding: 8px 12px; 
    border: 1px solid #d4edda; 
    border-radius: 4px; 
    background-color: #d4edda;
    font-size: 14px;
    cursor: pointer;
    width: 100%; 
}

.custom-select option {
    padding: 8px; 
}
