.sidebar {
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100vh;
    width: 70px;
    background-color: #2C3E50;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: width 0.3s ease;
    z-index: 1000; 
}

.sidebar.open {
    width: 250px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

.icon {
    fill: white;
}

.sidebar-header .icon {
    width: 30px;
    height: 30px;
}

.sidebar-header .username {
    margin-left: 10px;
    font-size: 18px;
    white-space: nowrap;
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 34px;
    height: 34px;
    margin-left: -3px;
}

.toggle-btn .icon {
    width: 34px;
    height: 34px;
    transition: transform 0.3s ease;
}

.menu-items,
.bottom-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-items li,
.bottom-items li {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.menu-items li:hover,
.bottom-items li:hover {
    background-color: #34495E;
}

.menu-items li .icon,
.bottom-items li .icon {
    width: 25px;
    height: 25px;
}

.menu-items li span,
.bottom-items li span {
    margin-left: 15px;
    font-size: 16px;
}

.bottom-items {
    margin-bottom: 20px;
}